.gif-button {
	margin: 5px 5px 5px 5px;
}

#button-container {
	width: 70%;
	float: left;
}

#gif-area {
	width: 70%;
	float: left;
}

#add-button-container {
	width: 30%;
	float: right;
}

.gif-container {
	display: inline-block;
	margin: 5px;
}